:root {
  --regular: 400;
  --medium: 500;
  --seniBold: 600;
  --bold: 700;
  --extraBold: 800;

  --titleOnefintSize: 70px;
  --titleTwoFontSize: 48px;
  --defaultFontSize: 16px;
  --defaultLineHeght: 32px;

  --btnDefault: #FF9900;
  --btnHoverFocus: #FFB84D;
  --btnActive: #E1670E;
  --black: #000;
  --textBlack: #333333;
  --inputGray: #414141;
  --gray: #666;
  --lightGray: #CACACA;
  --white: #fff;
  --grayBlue: rgb(41, 70, 107);
  --green: #97EE3F;

  --swiper-pagination-color: #fff;
  --swiper-pagination-bullet-width: 15px;
  --swiper-pagination-bullet-height: 15px;
  --swiper-pagination-bullet-horizontal-gap: 10px;
  --swiper-pagination-bullet-inactive-color: #fff;
  --swiper-pagination-bullet-inactive-opacity: .4;

  --containerMaxWidth: 1870px;
  --containerPdd: 50px;
}
